body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(41, 28, 28);
  color: white;
  display: flex;
  justify-content: center;
}

#header {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(215, 211, 211);
}

a:hover {
  color: rgb(255, 0, 0);
}

a:active {
  color: rgb(0, 255, 0);
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

#container {
  display: flex;
  width: 70%;
  /* ust ve alttan 10 px boşluk bırak sol ve sağdan ortala anlamına gelir. */
  margin: 10px auto;
}

#hakkimda {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section {
  margin: 10px;
  padding: 10px;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 4px 12px;
}

#right {
  margin: 10px;
  padding: 10px;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 4px 12px;
  width: 40%;
  /* grow, shrink, basis */
  flex: 0 0 30%;
  height: 300px;
}

.item1 {
  margin: auto auto;
}

#projelerim {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#projelerim article {
  padding: 10px;
  width: 100%;
  background-color: aliceblue;
}

#galeri {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#imajlar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

#imajlar img {
  border: 1px solid black;
  background-color: dimgrey;
}
